body {
    padding: 20px;
}

a {
    text-decoration: none;
    color: #0645AD;
}

a:visited {
    color: #0645AD;
}

a:hover {
    text-decoration: underline;
}

.top p:nth-child(2) {
    word-spacing: 2px;
    line-height: 30px;
}

.top p:nth-child(3) {
    text-align: right;
    font-weight: bold;
}


.text {
    text-align: center;
    font-family: sans-serif;
    margin: auto;
    font-size: 120%;
}

.top {
    text-align: left;
    margin-left: 12%;
    margin-right: 12%;
    min-width: 600px;
}

span {
    font-weight: bold;
}


.table div {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 640px;
}

.table div a {
    margin: auto;
}

img {
    max-height: 160px;
    max-width: 160px;
    padding: 5px;
}

.footer {
    border-top: solid #AAAAAA 1px;
    margin: auto;
    padding-top: 5px;
    font-size: 13px;
    width: 75%;
    line-height: 20px;
}